USE [master]
GO
CREATE DATABASE [HomeCinema]  
GO
      
 USE [HomeCinema]
 GO
USE [HomeCinema]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[IdentityCard] [nvarchar](50) NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Mobile] [nvarchar](10) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Error]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Error] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[GenreId] [int] NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[Producer] [nvarchar](50) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[TrailerURI] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Movie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rental]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[StockId] [int] NOT NULL,
	[RentalDate] [datetime] NOT NULL,
	[ReturnedDate] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Rental] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stock]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[HashedPassword] [nvarchar](200) NOT NULL,
	[Salt] [nvarchar](200) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/9/2015 7:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (1, N'Royal', N'Gerhold', N'kobe_nicolas@keebler.uk', N'842fb4c4-ae70-424d-ad56-0fa8dd9841f6', N'40e6b0a3-6ae6-4a9b-8c58-85539037653a', CAST(N'1985-10-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2015-11-09 19:12:21.000' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (2, N'Candice', N'Windler', N'jettie_erdman@virginie.ca', N'999810e9-d84c-40bc-8b07-728a77e573b4', N'cef63426-cf30-430b-9118-980533314f8c', CAST(N'1985-11-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2015-11-10 19:12:21.000' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (3, N'Daren', N'Willms', N'alda_russel@mitchellmante.ca', N'729b605c-65f7-4ef7-ae80-e02cad05897e', N'8ce0cd7e-20e7-4d00-8d20-fbdc9a2ebfaa', CAST(N'1985-12-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2015-11-11 19:12:21.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Comedy')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Sci-fi')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (3, N'Action')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (1, N'Minions', N'Minions Stuart, Kevin and Bob are recruited by Scarlet Overkill, a super-villain who, alongside her inventor husband Herb, hatches a plot to take over the world.', N'minions.jpg', 1, N'Kyle Bald', N'Brian Lynch', N'Janet Healy', CAST(N'2015-07-10 00:00:00.000' AS DateTime), 3, N'https://www.youtube.com/watch?v=Wfql_DoHRKc')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (2, N'Ted 2', N'Newlywed couple Ted and Tami-Lynn want to have a baby, but in order to qualify to be a parent, Ted will have to prove he''s a person in a court of law.', N'ted2.jpg', 1, N'Seth MacFarlane', N'Seth MacFarlane', N'Jason Clark', CAST(N'2015-06-27 00:00:00.000' AS DateTime), 4, N'https://www.youtube.com/watch?v=S3AVcCggRnU')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (3, N'Trainwreck', N'Having thought that monogamy was never possible, a commitment-phobic career woman may have to face her fears when she meets a good guy.', N'trainwreck.jpg', 2, N'Judd Apatow', N'Amy Schumer', N'Judd Apatow', CAST(N'2015-07-17 00:00:00.000' AS DateTime), 5, N'https://www.youtube.com/watch?v=2MxnhBPoIx4')
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (1, 1, N'44eb7275-248b-40bf-a420-cc401240e597', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (2, 1, N'452099fb-cbf9-4431-a441-a5e314bb5dc4', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (3, 1, N'e564e5ea-e6a8-4172-9ca9-1fd772dc37a0', 1)
SET IDENTITY_INSERT [dbo].[Stock] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Email], [HashedPassword], [Salt], [IsLocked], [DateCreated]) VALUES (1, N'chsakell', N'chsakells.blog@gmail.com', N'XwAQoiq84p1RUzhAyPfaMDKVgSwnn80NCtsE8dNv3XI=', N'mNKLRbEFCH8y1xIyTXP4qA==', 0, CAST(N'2015-11-09 19:12:21.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [UserId], [RoleId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
/****** Object:  Index [IX_GenreId]    Script Date: 11/9/2015 7:15:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_GenreId] ON [dbo].[Movie]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockId]    Script Date: 11/9/2015 7:15:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockId] ON [dbo].[Rental]
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieId]    Script Date: 11/9/2015 7:15:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MovieId] ON [dbo].[Stock]
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/9/2015 7:15:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/9/2015 7:15:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreId]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockId] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockId]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO


-- ADD MORE
 -- Add country

 create TABLE [dbo].[City]
(
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityCode][int] null,
	[CityNameDefault] [nvarchar](100) NULL,
	[CityName] [nvarchar](100) NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT 0,
	CONSTRAINT [PK_dbo.City] PRIMARY KEY ([ID])
 )
GO

insert [City]([CityCode], [CityNameDefault], [CityName]) 
values( 2, N'TP. Ho Chi Minh', N'TP. Ho Chi Minh')
insert [City]([CityCode], [CityNameDefault], [CityName]) 
values( 1, N'TP. Ha Noi', N'TP. Ha Noi')
-- Add Country
 create TABLE [dbo].[Country]
(
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode][int],
	[CountryDefault] [nvarchar](100) NULL,
	[CountryName] [nvarchar](100) NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT 0,
	CONSTRAINT [PK_dbo.Country] PRIMARY KEY ([ID])
 )
GO
insert [Country]([CountryCode], [CountryDefault], [CountryName]) 
values( 84, N'Vietnam', N'Viet Nam')
insert [Country]([CountryCode], [CountryDefault], [CountryName]) 
values( 65, N'Singapore', N'Singapore')
GO
 -- ADD ProfileUser

create TABLE [dbo].[ProfileUser]
(
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId][int],
	[Title][nvarchar](200) NULL,
	[About] [nvarchar](500) NULL,
	[Description] [nvarchar](1000) NULL,
	[License][nvarchar](500) NULL,
	
	[Email] [nvarchar](200)  NULL,
	[Address][nvarchar](500) NULL,
	[Mobile] [nvarchar](100) NULL,
	[CityId] [int] null,
	[CountryId] [int] null,
	[Company] [nvarchar](500) NULL,
	[IsDeleted] [bit] DEFAULT 0,
	CONSTRAINT [PK_dbo.ProfileUser] PRIMARY KEY ([ID])
 )
GO
ALTER TABLE [ProfileUser]
ADD CONSTRAINT [FK_dbo.ProfileUser_User]
FOREIGN KEY(UserId)
REFERENCES [User]([ID])

ALTER TABLE [ProfileUser]
ADD CONSTRAINT [FK_dbo.ProfileUser_City]
FOREIGN KEY(CityId)
REFERENCES [City]([ID])
ALTER TABLE [ProfileUser]
ADD CONSTRAINT [FK_dbo.ProfileUser_Country]
FOREIGN KEY(CountryId)
REFERENCES [Country]([ID])
GO
insert [dbo].[ProfileUser]([UserId], [About], [Description], [Email],[Address], [Mobile], [Company], [CountryId], [CityId], [IsDeleted]) 
values( 1, N'Nguyen', N'Hoang', N'vu.nh@hotmail.com', N'209', N'841234555711', N'DNT', 1, 1, 0)
/****** Object:  Database [HomeCinema]    Script Date: 11/9/2015 7:15:12 PM ******/


